{% extends "./base.html" %}

{% block title %} Edicion de Programas {% endblock %}

{% block body %}
<div class="row">
    <br>
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Programas</h2>
        <div class="card">
            <div class="card-body">
              <form action="/edicionPrograma/" method="POST">{% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" id="txtID" name="txtID" value="{{programa.id}}" class="form-control" placeholder="ID" minlength="1" maxlength="6" readonly required>
                    <label for="txtID">ID</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" id="txtNombre" name="txtNombre" value="{{programa.nombre}}" class="form-control" placeholder="Nombre" maxlength="50" required>
                    <label for="txtNombre">Nombre</label>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                    <button type="submit" class="btn btn-success text-white">Guardar</button>
                    <a class="btn btn-secondary" href="/gestionProgramas/">Cancelar</a>
                </div>
              </form>
            </div>
          </div>
    </div>
</div>
{% endblock %}