{% extends "./base.html" %}

{% block title %} Edicion de Competencias {% endblock %}

{% block body %}
<div class="row">
    <br>
    <div class="col-md-4 offset-md-4">
        <div class="card border-1 rounded-lg mt-4">
            <div class="card-header">
                <h3 class="text-center font-weight-light my-4">Edición de Competencias</h3>
            </div>
            <div class="card-body">
              <form action="/app/gestionCompetencias/edicionCompetencia/" method="POST">{% csrf_token %}
                <div class="form-floating mb-3">
                    <input value="{{competencia.id}}" class="form-control" id="txtID" name="txtID" type="text" placeholder="Codigo" readonly required>
                    <label for="txtID">ID</label>
                </div>
                <div class="form-floating mb-3">
                    <input value="{{competencia.nombre}}" class="form-control" id="txtNombre" name="txtNombre" type="text" placeholder="Nombre" maxlength="50" required>
                    <label for="txtNombre">Nombre</label>
                </div>
                <div class="form-floating mb-3">
                    <select  class="form-select" id="tipoCompetencia" name="tipoCompetencia" aria-label="Floating label select example">
                        {% if competencia.tipo_competencia == "G" %}
                        <option value="G" selected>Genérica</option>
                        <option value="E">Específica</option>
                        {% else %}
                        <option value="G">Genérica</option>
                        <option value="E" selected>Específica</option>
                        {% endif %}
                    </select>
                    <label for="tipoCompetencia">Tipo de competencia</label>
                </div>  
                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                    <button type="submit" class="btn btn-success text-white">Guardar</button>
                    <a class="btn btn-secondary" href="/app/gestionCompetencias/">Cancelar</a>
                </div>
              </form>
            </div>
          </div>
    </div>
</div>
{% endblock %}