{% extends "./base.html" %}

{% block title %} Edicion de Competencias {% endblock %}

{% block body %}
<div class="row">
    <br>
    <div class="col-md-4 offset-md-4">
        <div class="card border-1 rounded-lg mt-4">
            <div class="card-header">
                <h3 class="text-center font-weight-light my-4">Edición de Ambientes</h3>
            </div>
            <div class="card-body">
              <form action="/app/gestionAmbientes/edicionAmbiente/" method="POST">{% csrf_token %}
                <div class="form-floating mb-3">
                    <input value="{{ambiente.codigo}}" class="form-control" id="txtCodigo" name="txtCodigo" type="text" placeholder="Codigo" minlength="5" maxlength="5" readonly required>
                    <label for="txtCodigo">Código</label>
                </div>
                <div class="form-floating mb-3">
                    <input value="{{ambiente.nombre}}" class="form-control" id="txtNombre" name="txtNombre" type="text" placeholder="Nombre" maxlength="50" required>
                    <label for="txtNombre">Nombre</label>
                </div>
                <div class="form-floating mb-3">
                    <select  class="form-select" id="tipoAmbiente" name="tipoAmbiente" aria-label="Floating label select example">
                        {% if ambiente.tipo_ambiente == "V" %}
                        <option value="V" selected>Virtual</option>
                        <option value="P">Presencial</option>
                        {% else %}
                        <option value="V">Virtual</option>
                        <option value="P" selected>Presencial</option>
                        {% endif %}
                    </select>
                    <label for="tipoAmbiente">Tipo de ambiente</label>
                </div> 
                <div class="form-floating mb-3">
                    <input value="{{ambiente.capacidad}}" class="form-control" id="txtCapacidad" name="txtCapacidad" type="text" placeholder="Nombre" maxlength="2" required>
                    <label for="txtCapacidad">Capacidad</label>
                </div>
                <div class="form-floating mb-3">
                    <input value="{{ambiente.ubicacion}}" class="form-control" id="txtUbicacion" name="txtUbicacion" type="text" placeholder="Nombre" maxlength="50" required>
                    <label for="txtUbicacion">Ubicación</label>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                    <button type="submit" class="btn btn-success text-white">Guardar</button>
                    <a class="btn btn-secondary" href="/app/gestionAmbientes/">Cancelar</a>
                </div>
              </form>
            </div>
          </div>
    </div>
</div>
{% endblock %}