{% extends "./base.html" %} {% block title %} Gestion de Horarios {% endblock %}
{% block body %}
<div class="container-fluid px-4">
    <div class="row">
        <!-- Formulario de horarios -->
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
            {% if messages %} {% for message in messages %}
            <div
                class="alert alert-warning alert-dismissible fade show"
                role="alert"
            >
                <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong class="text-dark">{{ message }}</strong>
            </div>
            {% endfor %} {% endif %}
            <div class="card border-1 rounded-lg">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">
                        Gestión de Horarios
                    </h3>
                </div>
                <div class="card-body">
                    <form
                        action="/app/gestionHorarios/registrarHorario/"
                        method="POST"
                    >
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <select
                                class="form-select"
                                id="periodo"
                                name="periodo"
                                aria-label="Floating label select example"
                            >
                                {% for p in periodos %}
                                <option value="{{p.id}}">{{ p.nombre }}</option>
                                {% endfor %}
                            </select>
                            <label for="periodo">Periodo Académico</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select
                                class="form-select"
                                id="docente"
                                name="docente"
                                aria-label="Floating label select example"
                            >
                                {% for d in docentes %}
                                <option value="{{d.identificacion}}">
                                    {{ d.nombres }}
                                </option>
                                {% endfor %}
                            </select>
                            <label for="docente">Docente</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select
                                class="form-select"
                                id="franja"
                                name="franja"
                                aria-label="Floating label select example"
                            >
                                {% for f in franjas %}
                                <option value="{{f.id}}">
                                    {{ f.dia }} {{ f.hora_inicio }} -
                                    {{f.hora_fin }}
                                </option>
                                {% endfor %}
                            </select>
                            <label for="franja">Franja Horaria</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select
                                class="form-select"
                                id="competencia"
                                name="competencia"
                                aria-label="Floating label select example"
                            >
                                {% for c in competencias %}
                                <option value="{{c.id}}">{{ c.nombre }}</option>
                                {% endfor %}
                            </select>
                            <label for="competencia">Competencia</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select
                                class="form-select"
                                id="ambiente"
                                name="ambiente"
                                aria-label="Floating label select example"
                            >
                                {% for a in ambientes %}
                                <option value="{{a.codigo}}">
                                    {{ a.nombre }}
                                </option>
                                {% endfor %}
                            </select>
                            <label for="ambiente">Ambiente</label>
                        </div>
                        <div
                            class="d-flex align-items-center justify-content-between mt-4 mb-0"
                        >
                            <button
                                type="submit"
                                class="btn btn-success text-white"
                            >
                                Guardar
                            </button>
                            <a
                                class="btn btn-secondary"
                                href="/app/gestionHorarios/"
                                >Cancelar</a
                            >
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Tabla -->
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 mt-4">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Horario
                </div>
                <div class="card-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block extra_js %}
<!-- FullCalendar CDN  -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js"></script>
<!-- Idioma -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/es.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var events = [
        {% for f in franjas %}
        {
            title: '{{ f.dia | date:"y-m-d"}}',
            start: '{{ f.dia|date:"Y-m-d" }}T{{ f.hora_inicio|date:"H:i:s" }}',
            end: '{{ f.dia|date:"Y-m-d" }}T{{ f.hora_fin|date:"H:i:s" }}'
        },
        {% endfor %}
        ];
        var calendarUI = document.getElementById("calendar");
        var calendar = new FullCalendar.Calendar(calendarUI, {
            expandRows: true,
            slotMinTime: "07:00",
            slotMaxTime: "24:00",
            headerToolbar: {
                left: "prev,next today",
                center: "title",
                right: "dayGridMonth,timeGridWeek,timeGridDay",
            },
            hiddenDays: [0], //Oculta los domingos
            allDaySlot: false, //Oculta la fila all days
            initialView: "timeGridWeek",
            initialDate: "2023-01-12",
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            selectable: true,
            nowIndicator: true,
            dayMaxEvents: true, // allow "more" link when too many events
            events: events,
        });
        console.log(events);

        calendar.render();
    });
</script>

{% endblock %} {% endblock %}
