{% extends "./base-2.html" %}

{% block body %}
<div class="container-fluid px-4">
    <div class="col-12 mt-4 mx-auto">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Mi Horario
            </div>
            <div class="card-body">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>
{% block extra_js %}
<!-- FullCalendar CDN  -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js"></script>
<!-- Idioma -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/es.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        {% comment %} var franja = document.getElementById("franja");
        franja.addEventListener("change", function() {
            var franjaId = this.value;
            var filteredEvents = events.filter(function(event) {
                return event.franjaId === franjaId;
            });
            calendar.removeAllEvents();
            calendar.addEventSource(filteredEvents);
            calendar.render();
        }); {% endcomment %}
        var events = [
        {% for f in franjas %}
        {
            title: '{{ f.dia | date:"y-m-d"}}',
            start: '{{ f.dia|date:"Y-m-d" }}T{{ f.hora_inicio|date:"H:i:s" }}',
            end: '{{ f.dia|date:"Y-m-d" }}T{{ f.hora_fin|date:"H:i:s" }}',
            franjaId: '{{ f.id }}'
        },
        {% endfor %}
        ];
        var calendarUI = document.getElementById("calendar");
        var calendar = new FullCalendar.Calendar(calendarUI, {
            expandRows: true,
            slotMinTime: "07:00",
            slotMaxTime: "24:00",
            headerToolbar: {
                left: "prev,next today",
                center: "title",
                right: "dayGridMonth,timeGridWeek,timeGridDay",
            },
            hiddenDays: [0], //Oculta los domingos
            allDaySlot: false, //Oculta la fila all days
            initialView: "timeGridWeek",
            initialDate: "2023-01-12",
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            selectable: true,
            nowIndicator: true,
            dayMaxEvents: true, // allow "more" link when too many events
            events: events,
        });
        console.log(events);

        calendar.render();
    });
</script>
{% endblock %}
{% endblock %}